<p>
    &nbsp;Esta página é uma ferramenta que busca faciliar o acesso a informações sobre qualis de períodicos e conferências da área da computação.
    Toda informação existente nesta página foi retirada do site da CAPES. Não reflete, sob nenhuma hipótese, a opinião de técnicos e professores do Instituto de Computação da UFMT.
</p>
<p>
    &nbsp;Data da última atualização da aba Conferências: Junho/2017.
</p>
